<!DOCTYPE html>
<html>
<head>
  <title>Managr</title>
  <%= stylesheet_link_tag    "managr/application", media: "all" %>
  <%= javascript_include_tag "managr/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
